.body{
    margin : 0px;
    font-family: 'Poppins', sans-serif;
   
}
.box {
    position: absolute;
    border: 1px solid black;
    background-color : white;
    height: 400px;
    width: 630px;
    top: 100px;
    align-items : center;
    left: 25%;
    border: rgb(146, 159, 184);
    border-radius: 2%;
    box-shadow: black;
}
.icon {
    height: 80px;
    width: 80px;
    margin-left: 25%;
    margin-bottom: 2%;

}

.head {
    position: absolute;
    font-weight: bold;
    top: 20px;
    left: 40%;
    font-size: 25px;
    margin-bottom: 5%;
}

.light {
    background-color :#0B1E28;
    width: 1350px;
    height: 625px;
    align-items: center;
}
.input {
    height: 25px;
    width: 300px;
    left: 25%;
    position: absolute;
    margin-top: 5%;
    background-color: white;
    border: 2px solid #0028FA;
    color: black;
}
.btn {
    background-color:cornflowerblue;
    position: absolute;
    top: 290px;
    height: 35px;
    width: 310px;
    color: white;
    font-size: 20px;
    text-align: center;
    left: 25%;
    border: rgb(65, 115, 180);
    cursor: pointer;
    border-radius: 20px;
    
}
.in-input{
    top:100px;
}
.in-user{
    top:150px;
}
.btn-box{
    height:450px;
    top:80px;
}
.in-email{
    top:200px;
}
.in-phone{
    top:250px;
}
.box-btn{
    top:370px;
}
.btn:hover{
    background-color:cornflowerblue;
}
.tst1{
    margin-top: -1%;
   margin-left:  15%;
   padding-bottom: 2%;
   margin-bottom: 3%;
   padding-top: 3.5%;
   padding-right: 5%;
   margin-right: 5%;
}
.tst2{
    margin-top: -1%;
   margin-left:  14%;
}
.tst4{
    margin-top: 2%;
    padding-top:3% ;
    margin-left:  10%;
  
}
.tst3{
    margin-top: -1%;
    padding-top:4% ;
    margin-left:  15%;
  
}
.change{
    padding-top:10%;
}